.basic-layout
  $header-height = 62px
  $content-height = unquote('calc(100vh - ' + $header-height + ')')
  $container-height = unquote('calc(100vh - ' + ($header-height + 40px) + ')')

  .basic-layout-header
    display flex
    align-items center
    justify-content flex-end
    width 100%
    height $header-height
    padding 0 20px
    background #ffffff
    box-shadow 0 1px 4px rgba(0, 21, 41, 0.08)

  .basic-layout-content
    min-height $content-height
    padding 20px

    .basic-layout-container
      min-height $container-height