.basic-layout-aside
  .basic-layout-aside-logo
    justify-content center
    height 62px
    margin-right 0
    font-size 30px
    background #fff
    border-bottom 1px solid #f5f5f5

  .basic-layout-aside-user-info
    position relative
    display flex
    align-items center
    justify-content center
    width 240px
    padding 20px 0
    background #fff

    .basic-layout-aside-user-avatar
      margin-right 12px
      border-radius 4px

    .basic-layout-aside-user-profile
      .basic-layout-aside-user-name
        font-size 13px

      .basic-layout-aside-user-department
        font-size 12px